[Unit]
Description=Run Intune Zabbix Bridge every 15 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min
AccuracySec=1min
Persistent=true
Unit=intune-zabbix-bridge.service

[Install]
WantedBy=timers.target
